[Unit]
Description=1Password Connect Sync
After=network-online.target 1passwordconnectapi.service
Wants=network-online.target
BindsTo=1passwordconnectapi.service

[Container]
Image=1password/connect-sync:latest
PublishPort=8081:8080
Volume=/opt/1password/1password-credentials.json:/home/opuser/.op/1password-credentials.json:ro
Volume=/opt/1password/data:/home/opuser/.op/data:Z
Environment=OP_LOG_LEVEL=debug

[Service]
Type=notify
NotifyAccess=main
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target default.target
